*.py[cod]
*.so
*.pdf
*.DS_STORE
*.log
*.vscode

*.egg-info

# ignoring the text editor's files
*.sublime-workspace
*.sublime-project

# ignoring native builds
dist
build


# ignore the created config files
groups.txt
passwd.txt
override.yml